a {
  color: black;
  margin: 0 15px;
}


.head_container{
  display: flex;
  position: fixed;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  width: 100%;
  border-bottom: .5px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  top: 0px;
}

.head_elem {
  align-items: center;
  display: inline-flex;
  color: MediumAquamarine;
  padding: 0 30px;
}

.main_container{
  padding: 70px 0 0 0;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  margin: 10px auto;
}

.main_elem {
  display: flex;
  flex-direction: column;
  font-family: Georgia;
  margin: 0 auto;
}

.stories {
  display: flex;
  justify-content: space-between;
}

.column_large {
  width: 630px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.large_elem {
  flex-direction: column;
  flex-basis: 300px;
}

.column_medium {
  flex-direction: column;
  width: 300px;
}

.column_small {
  flex-direction: column;
  justify-content: center;
  width: 240px;
}

.small_elem.list div {
  background-color: WhiteSmoke;
  font-family: Verdana;
  border-bottom: .5px solid black;
  justify-content: center;
  font-size: 12px;
  color: DimGray;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.small_elem.list {
  margin: 20px auto;
}

.small_elem.newsbites {
  font-size: 16px;
  font-weight: bold;
  text-align: center;

}

.imgheadline {
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  height: 300px;
}

.storyheadline {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  height: 300px;
}

#mainstory {
  background-image: url("img/mainstory.png");
  font-size: 40px;
}

#fallseason {
  background-image: url("img/fallseason.png");
}

#cameraman {
  background-image: url("img/cameraman.png");
}

#catceo {
  background-image: url("img/catceo.png");
}

#MTlogo {
  justify-content: flex-start;
  color: white;
}

footer {
  background-color: MediumAquamarine;
  font-family: Verdana;
  display: block;
  font-size: 12px;
  margin: auto;
  padding: 100px;
  justify-content: center;
  text-align: center;
}

footer .elem {
  margin: 10px;
}

#brand {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
